In [34]:
import numpy as np
import pandas as pd
import os

In [35]:
#ZIP LIST SECTION - ZIP ALLOWS YOU TO iterate MULTIPLE LISTS

lst = np.linspace(0,100, 10)
# print(lst,len(lst))
new_list = np.arange(-5,8, 1)
# print(new_list, len(new_list))


sum_list = []
for i in range(len(lst)):
    sum_list.append(((lst[i] * 2) ** 3) - new_list[i])

#print(sum_list)

fast_list = []
for i,j in zip(lst,new_list):
    fast_list.append(((i*2)**3) - j)

# print(fast_list)

In [36]:
#list comprehension
my_list = ["dog", "cat", 5, "you"]

new_list = [i for i in new_list if i > 0]
#my_list = [i for i in my_list if type(i) == str]
my_list = [i for i in my_list if type(i) == str and "o" in i]

print(new_list,my_list)

[1, 2, 3, 4, 5, 6, 7] ['dog', 'you']

In [37]:
ar = [[2, "apple","Hello, how are you doing?", "b"],
    [46.654, "bats", "I love flying planes.", "y"],
    [624/89, "yoga", "My sister loves to eat fried eggs.", "z"],
    [81, "computer", "I find writing essays interesting.", "x"],
    [0, "water", "What is your favorite computer company?", "o"],
    [-5712, "vampire", "Who is the funniest person you know?", "e"]]
data = pd.DataFrame(ar)
data.columns = ["Number", "Word", "Sentence", "Character"]

display(data)

        Number      Word                                 Sentence Character
0     2.000000     apple                Hello, how are you doing?         b
1    46.654000      bats                    I love flying planes.         y
2     7.011236      yoga       My sister loves to eat fried eggs.         z
3    81.000000  computer       I find writing essays interesting.         x
4     0.000000     water  What is your favorite computer company?         o
5 -5712.000000   vampire     Who is the funniest person you know?         e

In [38]:
display(data.loc[data["Number"] > 0])

      Number      Word                            Sentence Character
0   2.000000     apple           Hello, how are you doing?         b
1  46.654000      bats               I love flying planes.         y
2   7.011236      yoga  My sister loves to eat fried eggs.         z
3  81.000000  computer  I find writing essays interesting.         x

In [39]:
display(data.loc[data["Word"].str.contains("a")])

        Number     Word                                 Sentence Character
0     2.000000    apple                Hello, how are you doing?         b
1    46.654000     bats                    I love flying planes.         y
2     7.011236     yoga       My sister loves to eat fried eggs.         z
4     0.000000    water  What is your favorite computer company?         o
5 -5712.000000  vampire     Who is the funniest person you know?         e

In [40]:
display(data.loc[(data["Number"] > 0) & (data["Sentence"].str.contains("\?"))])

   Number   Word                   Sentence Character
0     2.0  apple  Hello, how are you doing?         b

In [41]:
data["First_Word"] = data["Sentence"].str.split(" ").str[0]
data["Last_Word"] = data["Sentence"].str.split(" ").str[-1]
# data["Punctuation"] = data["Last_Word"].str.split("(?!^)").str[-2]
# data["Punctuation"] = data["Sentence"].str.split("").str[-2]
data["Punctuation"] = data["Sentence"].str.split(" ").str[-1].str[-1]
data["new"] = data["Sentence"].str.split(" ").str[-1]
data

,Number,Word,Sentence,Character,First_Word,Last_Word,Punctuation,new
0,2.000000,apple,"Hello, how are you doing?",b,"Hello,",doing?,?,doing?
1,46.654000,bats,I love flying planes.,y,I,planes.,.,planes.
2,7.011236,yoga,My sister loves to eat fried eggs.,z,My,eggs.,.,eggs.
3,81.000000,computer,I find writing essays interesting.,x,I,interesting.,.,interesting.
4,0.000000,water,What is your favorite computer company?,o,What,company?,?,company?
5,-5712.000000,vampire,Who is the funniest person you know?,e,Who,know?,?,know?

In [42]:
%%timeit
data["First_Word"] = data["Sentence"].str.split(" ").str[0]
data

523 µs ± 22.2 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [43]:
%%timeit
for i in range(len(data)):
    data.loc[i, "First Word"] = data.loc[i, "Sentence"].split(" ")[0]
data

1.98 ms ± 115 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [44]:
data.loc[0:3,:]

,Number,Word,Sentence,Character,First_Word,Last_Word,Punctuation,new,First Word
0,2.000000,apple,"Hello, how are you doing?",b,"Hello,",doing?,?,doing?,"Hello,"
1,46.654000,bats,I love flying planes.,y,I,planes.,.,planes.,I
2,7.011236,yoga,My sister loves to eat fried eggs.,z,My,eggs.,.,eggs.,My
3,81.000000,computer,I find writing essays interesting.,x,I,interesting.,.,interesting.,I

In [45]:
exec("x=4")
x

4

In [46]:
eval("x+1")

5

In [59]:
path = os.getcwd()
print(path)
with open(os.sep.join([path, "example.txt"]) ,"r") as file:
    for line in file:
        exec(line)

C:\Users\Super\Desktop\Python-master\Python_Important

In [60]:
print(people)
print(eval(people[0] + "_info"))

['Zenchang', 'Alex']
Zenchang_info